body {
    background-color: lightyellow;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title, .subtitle {
    text-align: center;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 32px;
}

img {
    width: 600px;
    display: block;
    margin: 0 auto;
}

.hero {
    width: 500px;
}

.menu {
    padding: 0;
    text-align: center;
}

.menu li {
    margin-bottom: 8px;
    font-size: 24px;
}

.link {
    text-align: center;
}

.container {
    padding: 16px;
}